.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
        "header header header header"
        "sidebar content1 content1 content1"
        "sidebar content1 content1 content1";
}

.grid-container div{
    border: 1px solid black; 
}

.grid-nav{
    grid-area: header;
}

.grid-sidebar{
    grid-area: sidebar;
}

.grid-content{
    grid-area: content1;
}

.grid-container2{
    display: grid;
    max-width: 600px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.grid-container2 img{
    width: 100%;
}

.grid-first-img{
    grid-column: 1/3;
    grid-row: 1/3;
}

@media screen and (max-width: 768px){
    .grid-container{
        grid-template-areas:
            "header header header header"
            "sidebar sidebar sidebar sidebar"
            "content1 content1 content1 content1";
    }
    .grid-container2{
        grid-template-columns: 1fr;
    }
    .grid-first-img{
        grid-column: 1/2;
        grid-row: 1/2;
    }
}