.container{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-content{
    width: 80%;
    height: 200px;
    float: left;
}

.blog-img{
    width: 20%;
    height: 200px;
    float: left;
}

.blog-profile{
    width: 50px;
    float: left;
}

.blog-name{
    float: left;
}


